<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<array>
	<dict>
		<key>name</key>
		<string>中国</string>
		<key>icon</key>
		<string>zhongguo.jpg</string>
	</dict>
	<dict>
		<key>name</key>
		<string>德国</string>
		<key>icon</key>
		<string>deguo.gif</string>
	</dict>
	<dict>
		<key>name</key>
		<string>法国</string>
		<key>icon</key>
		<string>faguo.gif</string>
	</dict>
	<dict>
		<key>name</key>
		<string>英国</string>
		<key>icon</key>
		<string>ying.gif</string>
	</dict>
	<dict>
		<key>name</key>
		<string>瑞典</string>
		<key>icon</key>
		<string>ruidian.gif</string>
	</dict>
	<dict>
		<key>name</key>
		<string>韩国</string>
		<key>icon</key>
		<string>hanguo.gif</string>
	</dict>
	<dict>
		<key>name</key>
		<string>瑞士</string>
		<key>icon</key>
		<string>ruishi.gif</string>
	</dict>
	<dict>
		<key>name</key>
		<string>阿根廷</string>
		<key>icon</key>
		<string>agt.gif</string>
	</dict>
	<dict>
		<key>name</key>
		<string>巴西</string>
		<key>icon</key>
		<string>baxi.gif</string>
	</dict>
	<dict>
		<key>name</key>
		<string>荷兰</string>
		<key>icon</key>
		<string>helan.gif</string>
	</dict>
	<dict>
		<key>name</key>
		<string>葡萄牙</string>
		<key>icon</key>
		<string>putaoya.gif</string>
	</dict>
	<dict>
		<key>name</key>
		<string>西班牙</string>
		<key>icon</key>
		<string>xiby.gif</string>
	</dict>
	<dict>
		<key>name</key>
		<string>意大利</string>
		<key>icon</key>
		<string>ydl.gif</string>
	</dict>
	<dict>
		<key>name</key>
		<string>乌拉圭</string>
		<key>icon</key>
		<string>wlgui.gif</string>
	</dict>
</array>
</plist>
